@import '~bootstrap/dist/css/bootstrap.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-family: 'Raleway';
}

#root {
  height: 100%;
}

.fill-height {
  height: 100%
}
