#main-view {
  max-width: 100%;
}

#main-view .row {
  height: 100%;
  margin: 0;
}

#main-routes {
  padding: 20px 0 0 0;
  max-width: 80%;
  margin-left: 20%;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
}