#navbar-page {
  color: black;
  border-bottom: 1px solid black;
  padding: 5px 5px;
}

#navbar-page h3 {
  font-weight: bold;
  padding-left: 15px;
  margin-bottom: 0;
}

#nav-row-right {
  padding-right: 25px;
  text-align: right;
}

#nav-row-right span {
  margin-left: 20px;
}